<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.zoom2u"
    android:versionCode="133"
    android:versionName="3.9.47">
    <!--
    android:versionCode="78"
    android:versionName="3.3.2"
    -->
    <!-- TODO -->
    <!-- **********  Before publishing the app please check this points -->
    <!-- 1)  Check the Server URL in WebserviceHandler class -->
    <!-- 2)  Uncomment production FireBase chat URL in com.z2u.chatview.ChatViewBookingScreen class -->
    <!-- Must change the Firebase DB and config file google-service.json to live before release -->
    <!-- 3  change the terms and conditions URL's on (Courier_AutoLoginFeature-290 and AccountDetailFragment-435 ) -->
    <!-- 4)  Check the location update service in com.zoom2u.services.ServiceForSendLatLong class -->
    <!-- ********************************************* -->
    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" /> <!-- Google Map Permissions. -->
    <permission
        android:name="com.zoom2u.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="com.zoom2u.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CALL_PHONE" /> <!-- GCM requires a Google account. -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" /> <!-- Keeps the processor from sleeping when a message is received. -->
    <uses-permission android:name="android.permission.GET_TASKS" /> <!-- Creates a custom permission so only this app can receive its messages. -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.BATTERY_STATS" /> <!-- **********   Pushy implementation permissions   *********** -->
    <!-- Pushy Permissions -->
    <!-- Added in Pushy SDK v1.0.0 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_ALL_DOWNLOADS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" /> <!-- Added in Pushy SDK v1.0.1 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_LOGS" /> <!-- End Pushy Permissions -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="true" /> <!-- Allows access to the flashlight -->
    <!--
  <permission
        android:name="android.permission.FLASHLIGHT"
        android:permissionGroup="android.permission-group.HARDWARE_CONTROLS"
        android:protectionLevel="normal" />
    -->
    <!-- ******************************* -->
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <queries>
        <package android:name="com.whatsapp" />
        <package android:name="com.whatsapp.w4b" />

        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>
    </queries>

    <application
        android:name="com.z2u.chat.ChatApplication"
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:persistent="true"
        android:requestLegacyExternalStorage="true"
        android:theme="@style/CustomActionBarTheme"
        tools:ignore="LockedOrientationActivity"
        tools:replace="android:label">
        <activity
            android:name="com.suggestprice_team.courier_team.DrcActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar"
            tools:ignore="LockedOrientationActivity"
            />
        <activity
            android:name="com.suggestprice_team.courier_team.community.AddmemberActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar"
            android:windowSoftInputMode="adjustResize"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.suggestprice_team.courier_team.community.CommunityBookingActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.suggestprice_team.courier_team.community.EditTeamMembersActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.suggestprice_team.courier_team.community.CommunityListActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".slidemenu.invoice_adjustment.InvoiceAdjustmentsDetails"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".slidemenu.invoice_adjustment.InvoiceAdjustments"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".build_me_route.SecondBuildRouteActivity"
            android:exported="false" />
        <activity
            android:name=".build_me_route.FirstBuildMeActivity"
            android:exported="false" />
        <activity
            android:name=".build_me_route.EndPopup"
            android:exported="false" />
        <activity
            android:name=".offer_run_batch.RunBatchActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".slidemenu.NewBarcodeActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme_Dialog"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".offer_run_batch.SingleRunActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:windowSoftInputMode="adjustResize"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".onboardpopup.OnBoardActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/onBoard_theme_gary" />
        <activity
            android:name=".run_popup.DialogRunPopup"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Dialog" />
        <activity
            android:name=".LocationPermissionDialog"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/CustomActionBarTheme" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/CustomActionBarTheme"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" /> <!-- ************   For m4b lib  Google map API key *********** -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/map_api_key" /> <!-- ****************************************************************** -->
        <activity
            android:name=".LoginZoomToU"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/CustomActionBarTheme"
            android:windowSoftInputMode="adjustPan"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".dialogactivity.DialogActivity"
            android:clearTaskOnLaunch="true"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".dialogactivity.DialogActivityForBooking"
            android:clearTaskOnLaunch="true"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar"
            tools:ignore="LockedOrientationActivity" />


        <activity
            android:name=".dialogactivity.DepotAlert_For_DHLDrivers"
            android:clearTaskOnLaunch="true"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/CustomActionBarTheme"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".dialogactivity.DialogOutstandingBidNotification"
            android:clearTaskOnLaunch="true"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".dialogactivity.Notification_Courier_Level"
            android:clearTaskOnLaunch="true"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".dialogactivity.Dialog_RequestAvailability"
            android:clearTaskOnLaunch="true"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".UpdatePassword"
            android:exported="false"
            android:label="@string/title_activity_sign_up"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ForgotPasswordActivity"
            android:exported="false"
            android:label="@string/title_activity_forgot"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".SlideMenuZoom2u"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/CustomActionBarTheme"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize|adjustPan"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".lateview.vc.LateDetailView"
            android:exported="false"
            android:label="@string/title_activity_sign_up"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".BookingDetail_New"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:windowSoftInputMode="adjustResize"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ActiveBookingDetail_New"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".BookingHistory"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ConfirmPickUpForUserName"
            android:exported="false"
            android:label="@string/title_activity_confirm_pick_up_for_user_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".HeroLevel_View"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".dialogactivity.DefaultWindowForChat"
            android:clearTaskOnLaunch="true"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.newnotfication.view.NewBooking_Notification"
            android:clearTaskOnLaunch="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.newnotfication.view.Notification_BookingStatusRequest"
            android:clearTaskOnLaunch="true"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/CustomActionBarTheme"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.newnotfication.view.NewBidRequest_NotificationView"
            android:clearTaskOnLaunch="true"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.z2u.weeklycourierstats.WeeklyCourierUpdateView"
            android:clearTaskOnLaunch="true"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".dialogactivity.DialogReasonForLateDelivery"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.z2u.chatview.ChatViewBookingScreen"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.z2u.chatview.ChatDetailActivity"
            android:clearTaskOnLaunch="true"
            android:exported="false"
            android:launchMode="singleTop"
            android:noHistory="false"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".slidemenu.offerrequesthandlr.ChatListForBid"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/CustomActionBarTheme"
            android:windowSoftInputMode="stateHidden|adjustResize"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.z2u.chatview.ChatView_BidConfirmation"
            android:clearTaskOnLaunch="true"
            android:exported="false"
            android:launchMode="singleTop"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".slidemenu.offerrequesthandlr.Bid_RequestView_Detail"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".slidemenu.offerrequesthandlr.Alert_To_PlaceBid"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".slidemenu.Hero_LeaderBoard_InSlideView"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ShiftViewDetail"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".slidemenu.BarcodeScanner"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.customnotify_event.CustomNotification_View"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".slidemenu.barcode_reader.DropOff_From_BarcodeScannerView"
            android:exported="false"
            android:label="@string/title_activity_confirm_pick_up_for_user_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".dialogactivity.AchievementNotifyView"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/CustomActionBarTheme"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".slidemenu.barcode_reader.FrontCamera_Activity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".slidemenu.accountdetail_section.CourierIdentification_View"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".slidemenu.accountdetail_section.PoliceCheckView"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".slidemenu.accountdetail_section.alcohol_delivery_training.Alcohol_Delivery_Signature"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".slidemenu.accountdetail_section.alcohol_delivery_training.AlcoholTrainingVideo_View"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".slidemenu.barcode_reader.CameraOverlay_Activity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".slidemenu.accountdetail_section.SummaryReportView"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".slidemenu.accountdetail_section.MyProfile_Information"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".slidemenu.accountdetail_section.SettingView"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".slidemenu.accountdetail_section.sellcourierbusiness.ActivitySellYourCourierBusiness"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".dialogactivity.DefaultWindowForToast"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.suggestprice_team.courier_team.Invite_Team_Member"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.suggestprice_team.courier_team.TeamMemberList_Activity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.suggestprice_team.courier_team.teammember_bookings.List_CourierTeamMembersBooking"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.suggestprice_team.courier_team.teammember_bookings.BookingDetail_TeamMember"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar"
            tools:ignore="LockedOrientationActivity" />

        <service android:name=".services.ServiceForSendLatLong" />
        <service android:name=".services.BG_ImageUploadToServer" />
        <service android:name=".services.ServiceToUpdate_ActiveBookingList" />
        <service android:name=".services.ServiceToUpdateNewBookingList" />
        <service android:name=".services.ServiceUpdateDeviceToken" />
        <service android:name=".services.ServiceToGetCourierLevel" />
        <service android:name=".services.ServiceToRefreshBookingView" />
        <service android:name=".services.ServiceWeeklyCourierUpdate" />
        <service android:name=".services.Service_ResendFailedImgToServer" />
        <service android:name=".services.ServiceForCourierBookingCount" />
        <service android:name="com.z2u.chatview.ServiceNotifyCustomerAboutChat" />
        <service android:name="com.z2u.chatview.ServiceToLoadChatBookings" />
        <service android:name=".services.GetKillEvent_ToDestryNotication" />
        <service android:name=".services.BG_Service_VersionUpdate" /> <!-- **********   Pushy implementation permissions   *********** -->
        <!-- Pushy Declarations -->
        <!-- Pushy Notification Receiver -->
        <!-- Incoming pushes will be redirected to the following BroadcastReceiver class -->
        <receiver
            android:name=".PushReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="pushy.me" />
            </intent-filter>
        </receiver> <!-- Pushy Update Receiver -->
        <!-- Do not modify (except for package name) - internal BroadcastReceiver that restarts the listener service -->
        <receiver
            android:name="me.pushy.sdk.receivers.PushyUpdateReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />

                <data
                    android:path="com.zoom2u"
                    android:scheme="package" />
            </intent-filter>
        </receiver> <!-- Pushy Boot Receiver -->
        <!-- Do not modify - internal BroadcastReceiver that restarts the listener service -->
        <receiver
            android:name="me.pushy.sdk.receivers.PushyBootReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver> <!-- Pushy Socket Service -->
        <!-- Do not modify - internal socket service -->
        <service
            android:name="me.pushy.sdk.services.PushySocketService"
            android:exported="true"
            android:stopWithTask="false" /> <!-- End Pushy Declarations -->
        <!-- Pushy Job Service (added in Pushy SDK 1.0.35) -->
        <service
            android:name="me.pushy.sdk.services.PushyJobService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:stopWithTask="false" /> <!-- ******************************* -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <provider
            android:name=".MyContentProviderAtLocal"
            android:authorities="com.zoom2u"
            android:enabled="true"
            android:exported="true" />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.zoom2u.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>
    </application>

</manifest>